<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="zyyeasy" />
<meta name="copyright" content="BEN@163.com" />
<title>{$title}</title>
<link rel="stylesheet" type="text/css" href="/resource/admin/css/comm.css" media="all" />
<link rel="stylesheet" type="text/css" href="/resource/admin/css/bootstrap.css" media="all" />
<link rel="stylesheet" type="text/css" href="/resource/admin/css/css.css" media="all" />
</head>
<body bgcolor="#e3e3e3" style="text-align:center;">
	<img src="/resource/admin/images/0e03b7da-db9e-4819-ba10-9016ddfdaed3.gif">

</body>
</html>
<SCRIPT Language=VBScript><!--

//--></SCRIPT>